#triangleProject{
	border-color: #000000 transparent transparent #000000;
    border-style: solid;
    border-width: 0px 130px 690px;
    cursor: pointer;
    height: 0;
    position: absolute;
    margin-left: 130px;
    margin-top: 0px;
    width: 0;
	z-index: 1;
	
}

#zLeftProject{
	position: absolute;
	left: 0px;
	top: 0px;
	
	background-color: black;
	height: 100%;
	width: 130px;
	
}

#zLeftTexteProject{
	position: absolute;
	top:170px;
	left:20px;
	width: 195px;
	height: 350px;
	color:white;
/*	font-family: Helvetica;
*/	font-size: 0.7em;
z-index: 2;
	text-align: justify;
	
	
}

.right{
	position: relative;
	top:0px;
	left:0px;
	
width: 65px;
  height: 350px;
	
 float: right;
  -webkit-shape-outside: polygon(100% 0, 0% 100%, 100% 100%);
  shape-outside: polygon(100% 0, 0% 100%, 100% 100%);
  
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

#TexteProject{
	position: relative;
	width: 205px;
	height: 350px;
}

#TexteProject_test{
	position: relative;
	width: 205px;
	height: 350px;
	font-size: 11px;
	font-family: "Helvetica Neue LT Std";
}

#cadreImageBis{
	position:absolute;
	top:170px;
	left:140px;
	width:525px;
	height:390px;
	background-size: contain;
	background-image:url("images/p1/p112/p112Im1.gif");
	z-index: 0;}



#cadreImage{
	position:absolute;
	top:170px;
	left:140px;
	width:525px;
	height:390px;
	background-size: contain;
	background-image:url("images/p1/p112/p112Im1.gif");
	z-index: 0;
	
	webkit-animation-name: diapo1;
	webkit-animation-duration: 24s;
	webkit-animation-timing-function: linear;
	webkit-animation-iteration-count: infinite;
	webkit-animation-direction: normal;
	webkit-animation-play-state: running;
	
	moz-animation-name: diapo1;
	moz-animation-duration: 24s;
	moz-animation-timing-function: linear;
	moz-animation-iteration-count: infinite;
	moz-animation-direction: normal;
	moz-animation-play-state: running;
	
	animation-name: diapo1;
	animation-duration: 24s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;
	
}

/*
@-webkit-keyframes diapo1{
	0%{background-image: url(../images/p1/p112/p112Im1.gif);}
	
	45%{background-image: url(../images/p1/p112/p112Im1.gif);}
	50%{background-image: url(../images/p1/p112/p112Im2.gif);}
	
	95%{background-image: url(../images/p1/p112/p112Im2.gif);}
}
@-moz-keyframes diapo1{
	0%{background-image: url(../images/p1/p112/p112Im1.gif);}
	
	45%{background-image: url(../images/p1/p112/p112Im1.gif);}
	50%{background-image: url(../images/p1/p112/p112Im2.gif);}
	
	95%{background-image: url(../images/p1/p112/p112Im2.gif);}
}
@keyframes diapo1{
	0%{background-image: url(../images/p1/p112/p112Im1.gif);}
	13%{background-image: url(../images/p1/p112/p112Im1.gif);}
	
	17%{background-image: url(../images/p1/p112/p112Im2.gif);}
	30%{background-image: url(../images/p1/p112/p112Im2.gif);}
	
	34%{background-image: url(../images/p1/p112/p112Im3.gif);}
	47%{background-image: url(../images/p1/p112/p112Im3.gif);}

	51%{background-image: url(../images/p1/p112/p112Im4.gif);}
	64%{background-image: url(../images/p1/p112/p112Im4.gif);}
	
	68%{background-image: url(../images/p1/p112/p112Im5.gif);}
	81%{background-image: url(../images/p1/p112/p112Im5.gif);}
	
	85%{background-image: url(../images/p1/p112/p112Im6.gif);}
	96%{background-image: url(../images/p1/p112/p112Im6.gif);}
}*/

#btRunStop{
	position:absolute;
	top:200px;
	left:200px;
	width: 10px;
	height: 10px;
	background-color: red;
}

#titreProjet{
	position: absolute;
	left:50px;
	width: 480px;
	height: 170px;
	background-color: black;
}

#texteBasProjet{
	position: absolute;
	top: 571px;
	left: 30px;
	height: 90px;
	width: 500px;
	color: #868789;
	font-family: Helvetica Neue LT Std;
	font-size: 1em;
	z-index: 0;
}

#cercleIm1{
	position: absolute;
	top:530px;
	left:350px;
	width: 15px;
    height: 15px;
    border-radius: 20px;
    background:#adbcc4;
}

#cercleIm1{
	position: absolute;
	top:530px;
	left:350px;
	width: 15px;
    height: 15px;
    border-radius: 20px;
    background:#e05015;
}
#cercleIm2{
	position: absolute;
	top:530px;
	left:380px;
	width: 15px;
    height: 15px;
    border-radius: 20px;
    background:#adbcc4;
}
#cercleIm3{
	position: absolute;
	top:530px;
	left:410px;
	width: 15px;
    height: 15px;
    border-radius: 20px;
    background:#adbcc4;
}
#cercleIm4{
	position: absolute;
	top:530px;
	left:440px;
	width: 15px;
    height: 15px;
    border-radius: 20px;
    background:#adbcc4;
}
#cercleIm5{
	position: absolute;
	top:530px;
	left:470px;
	width: 15px;
    height: 15px;
    border-radius: 20px;
    background:#adbcc4;
}
#cercleIm6{
	position: absolute;
	top:530px;
	left:500px;
	width: 15px;
    height: 15px;
    border-radius: 20px;
    background:#adbcc4;
}
