.textbox {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
    max-height: 1400px;
    text-align: justify;
    background-color: #fff;
}

.textbox {
    padding-top: 30px;
    padding-bottom: 4%;
    padding-left: 13%;
    padding-right: 10%;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 1441px;
    background-image: url("../img/bg_dots.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
}


/* 7end mediaquery */

.linkContact {
    float: left;
    padding-top: 11.5%;
    cursor: pointer;
    font-size: 12px;
    color: red;
    /* Rotation du div */
    transform: rotate(-79deg);
    -ms-transform: rotate(-79deg);
    /* Internet Explorer */
    -moz-transform: rotate(-79deg);
    /* Firefox */
    -webkit-transform: rotate(-79deg);
    /* Safari et Chrome */
    -o-transform: rotate(-79deg);
    /* Opera */
}

.linkMortagne {
    float: left;
    padding-top: 9.5%;
    cursor: pointer;
    font-size: 12px;
    color: red;
    /* Rotation du div */
    transform: rotate(-79deg);
    -ms-transform: rotate(-79deg);
    /* Internet Explorer */
    -moz-transform: rotate(-79deg);
    /* Firefox */
    -webkit-transform: rotate(-79deg);
    /* Safari et Chrome */
    -o-transform: rotate(-79deg);
    /* Opera */
}

.linkArgentan {
    float: left;
    position: absolute;
    top: 20%;
    left: 6.3%;
    cursor: pointer;
    font-size: 12px;
    color: red;
    /* Rotation du div */
    transform: rotate(-79deg);
    -ms-transform: rotate(-79deg);
    /* Internet Explorer */
    -moz-transform: rotate(-79deg);
    /* Firefox */
    -webkit-transform: rotate(-79deg);
    /* Safari et Chrome */
    -o-transform: rotate(-79deg);
    /* Opera */
}

<a href="#pArchitecture.html"><div class="CircleMiddle">2 </div></a><a href="#pArchitecture.html"><div class="CircleBottom">3 </div></a><div class="circles"><div class="CircleTop"><img src="/img/cir_topy.svg" alt=""></div><div class="CircleTop"><img src="/img/cir_mid.svg" alt=""></div><div class="CircleTop"><img src="/img/cir_bott.svg" alt=""></div></div>.circles {
    margin-top: 5%;
    float: right;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    -webkit-flex-flow: column wrap;
    justify-content: space-around;
}

.CircleTop {
    /* float: right;
            background: #e3e9ec;
            width: 70px;
            height: 140px; */
    width: 300px;
    height: 80px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.CircleMiddle {
    float: right;
    background: #e3e9ec;
    width: 70px;
    height: 140px;
    border-radius: 70px 0px 0px 70px;
    cursor: pointer;
}

.CircleBottom {
    float: right;
    top: 25%;
    background: #e3e9ec;
    width: 70px;
    height: 140px;
    border-radius: 70px 0px 0px 70px;
    cursor: pointer;
}


/* media queries */


/* 1440 X 2559 */

@media (min-width: 1440px) and (max-width: 2559.8px) {
    body {
        background-color: #E80C7A;
    }
    .navbar {
        display: none;
    }
    .textbox {
        padding-left: 14%;
        margin-top: 5%;
        padding-top: 5px;
        padding-right: 300px;
    }
    .container-fluid {
        background-image: url("../img/2650x1440retin.svg");
        background-color: #fff;
        background-size: contain;
        background-repeat: no-repeat;
        width: auto;
        height: auto;
        margin-right: 3%;
        padding-right: 0%;
    }
    .menuleft {
        float: left;
        color: #fff;
    }
    .linkContact {
        float: left;
        position: absolute;
        top: 209px;
        left: 13px;
        font-size: 12px;
        color: white;
        /* Rotation du div */
        transform: rotate(-79deg);
        -ms-transform: rotate(-79deg);
        /* Internet Explorer */
        -moz-transform: rotate(-79deg);
        /* Firefox */
        -webkit-transform: rotate(-79deg);
        /* Safari et Chrome */
        -o-transform: rotate(-79deg);
        /* Opera */
    }
    .linkMortagne {
        float: left;
        position: absolute;
        top: 181px;
        left: 8px;
        cursor: pointer;
        font-size: 12px;
        color: white;
        /* Rotation du div */
        transform: rotate(-79deg);
        -ms-transform: rotate(-79deg);
        /* Internet Explorer */
        -moz-transform: rotate(-79deg);
        /* Firefox */
        -webkit-transform: rotate(-79deg);
        /* Safari et Chrome */
        -o-transform: rotate(-79deg);
        /* Opera */
    }
    .linkArgentan {
        float: left;
        position: absolute;
        top: 182px;
        left: 27px;
        cursor: pointer;
        font-size: 12px;
        color: white;
        /* Rotation du div */
        transform: rotate(-79deg);
        -ms-transform: rotate(-79deg);
        /* Internet Explorer */
        -moz-transform: rotate(-79deg);
        /* Firefox */
        -webkit-transform: rotate(-79deg);
        /* Safari et Chrome */
        -o-transform: rotate(-79deg);
        /* Opera */
    }
    .flex-circles {
        margin-top: 3%!important;
        padding-top: 4%;
        float: right;
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column wrap;
        justify-content: space-around;
    }
    .flex-text {
        background: #dfe6e9;
        border-radius: 70px 0px 0px 70px;
        padding: 0px;
        width: 70px;
        height: 140px;
        margin-top: 10px;
        line-height: 150px;
        color: #f26101;
        font-weight: bold;
        font-size: 1.7em;
        text-align: left;
        font-family: "dots";
    }
    .top {
        text-indent: -123px;
    }
    .mid {
        text-indent: -115px;
    }
    .bott {
        text-indent: -115px;
        padding-bottom: 4%!important;
    }
    .flex-footy {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row;
        justify-content: space-around;
    }
    .flex-footy-text {
        padding: 0px;
        width: auto;
        height: auto;
        margin-top: 10px;
        color: black;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
        font-family: "dots";
    }
    .first {
        margin-left: 43px;
    }
}