   body {
       background-color: #000;
   }
   
   .bigCont {
       margin-top: 5%;
       /* background-color: #000; */
       /* background-image: url(img/wall.jpg);
    background-size: cover; */
   }
   
   .izquierda_full {
       /* background-color: #FEF0D5; */
   }
   
   @font-face {
       font-family: "Helvetica";
       src: url('fonts/Helvetica.eot');
       src: url("fonts/HelveticaNeueLTStd-BdCn.eot") format("eot-"), url("fonts/HelveticaNeueLTStd-BdCn.ttf") format("ttf"), url("fonts/HelveticaNeueLTStd-BdCn.woff") format("woff");
       font-weight: normal;
       font-style: normal;
   }
   
   @font-face {
       font-family: "DotMatrix";
       src: url("fonts/DotMatrixRegular.ttf") format("ttf"), url(fonts/DotMatrixRegular.woff) format("woff");
   }
   
   .rens {
       font-size: 17px;
       text-align: center;
   }
   
   .textTitle {
       color: #adbcc4;
       font-family: Helvetica;
       font-size: 25px;
   }
   
   #logo_left {
       position: absolute;
       top: 105px;
       left: 25px;
       cursor: pointer;
   }
   
   #zLeft_blanc {
       position: absolute;
       left: 0px;
       top: 0px;
       background-color: white;
       height: 100%;
       width: 130px;
   }
   
   #logo_left {
       position: absolute;
       top: 105px;
       left: 25px;
       cursor: pointer;
   }
   
   #btcontact {
       position: absolute;
       top: 80px;
       left: 23px;
       cursor: pointer;
       font-size: 12px;
       font-family: Helvetica;
       color: white;
       z-index: 3;
       /* Rotation du div */
       transform: rotate(-79deg);
       -ms-transform: rotate(-79deg);
       /* Internet Explorer */
       -moz-transform: rotate(-79deg);
       /* Firefox */
       -webkit-transform: rotate(-79deg);
       /* Safari et Chrome */
       -o-transform: rotate(-79deg);
       /* Opera */
   }
   
   #btAgenceMortagne {
       position: absolute;
       top: 55px;
       left: 24px;
       cursor: pointer;
       font-family: Helvetica;
       font-size: 12px;
       color: white;
       z-index: 3;
       /* Rotation du div */
       transform: rotate(-79deg);
       -ms-transform: rotate(-79deg);
       /* Internet Explorer */
       -moz-transform: rotate(-79deg);
       /* Firefox */
       -webkit-transform: rotate(-79deg);
       /* Safari et Chrome */
       -o-transform: rotate(-79deg);
       /* Opera */
   }
   
   #btAgenceArgentan {
       position: absolute;
       top: 57px;
       left: 46px;
       cursor: pointer;
       font-family: Helvetica;
       font-size: 12px;
       color: white;
       z-index: 3;
       /* Rotation du div */
       transform: rotate(-79deg);
       -ms-transform: rotate(-79deg);
       /* Internet Explorer */
       -moz-transform: rotate(-79deg);
       /* Firefox */
       -webkit-transform: rotate(-79deg);
       /* Safari et Chrome */
       -o-transform: rotate(-79deg);
       /* Opera */
   }
   
   .img_up {
       /* background-color: #00BEB2; */
   }
   
   .img_bottom {
       /* background-color: #FEDF03; */
   }
   
   .derecha_full {
       background-color: #fff;
       margin-left: 0%;
       padding-left: 0%;
   }
   
   .triang {
       /* background-color: #F01A30; */
       padding-left: 0%;
       margin: 0 0 0 0;
       padding: 0 0 0 0;
   }
   
   .texty {
       color: white;
       border-left-style: dotted;
       border-right-color: blue;
   }
   
   .cirtop {
       /* background-color: #e3e9ec; */
       width: 70px;
       float: right;
   }
   
   img.cirtop :hover {
       background-color: #000;
   }
   
   .circles {
       background-color: #BD7938;
   }
   
   .footy {
       padding-top: 10px;
       padding-bottom: 10px;
       color: #000;
   }
   
   .left {
       border-color: rgb(236, 144, 144);
       width: 15%;
       height: 550px;
       background-color: black;
       -webkit-shape-outside: polygon(0 0, 0 100%, 100% 0);
       shape-outside: polygon(0 0, 0 100%, 100% 0%);
       float: left;
       -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0%);
       clip-path: polygon(0 0, 0 100%, 100% 0%);
   }
   
   .textLanding {
       margin-top: 0%;
       padding-top: 0%;
       background-color: white;
       color: #000;
       font-family: Helvetica;
       font-size: 13px;
       text-align: justify;
       /* margin-left: 0%;
        margin-right: 0%;
        padding-left: 0%;
        padding-right: 0%; */
   }
   
   .textGrey {
       color: #9da7ac;
   }
   
   #traitVertGris {
       position: absolute;
       Top: 0px;
       left: 50px;
       height: 100%;
       width: 15px;
       background-color: #e3e8ec;
       z-index: 0;
       cursor: default;
   }
   
   @font-face {
       font-family: "DotMatrix";
       src: url("fonts/DotMatrixRegular.ttf") format("ttf"), url(fonts/DotMatrixRegular.woff) format("woff");
   }
   
   .textCircles {
       font-family: DotMatrix;
       align-content: center;
   }
   
   svg.cirTop {
       fill: #e3e9ec;
       width: 70px;
       float: right;
   }
   
   svg.cirTop :hover {
       fill: orange;
   }
   
   .tab {
       width: auto;
   }
   
   .active {
       color: #BD7938;
   }
   /* .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
} */
   
   .newCircles {
       flex-direction: column;
   }
   
   .bottom {
       font-family: DotMatrix;
       color: black;
       font-size: 19px;
   }
   
   hr {
       border-radius: .25rem!important;
       height: 1px;
       background-color: black;
       margin-left: 0%;
       padding-left: 0%;
   }
   
   .row {
       margin-left: 0%;
   }
   /* #test {
       background-color: orange;
       justify-content: center;
       align-items: center;
   } */
   
   .Aligner {
       display: flex;
       align-items: center;
       justify-content: center;
   }
   
   .Aligner-item {
       max-width: 50%;
   }
   
   .Aligner-item--top {
       align-self: flex-start;
   }
   
   .Aligner-item--bottom {
       align-self: flex-end;
   }
   
   .wrapper {
       /* vertical bar on left side */
       height: 100%;
       left: 0;
       top: 0;
       /* align items inside vertically centered */
       align-items: center;
       display: flex;
   }
   
   .centered {
       background-color: red;
   }
   
   .cir_up {
       float: right;
   }
   /* #circleTop {
       position: absolute;
       top: 105px;
       right: 0px;
       background: #e3e9ec;
       border-radius: 50%;
       width: 70px;
       height: 140px;
       border-radius: 70px 0px 0px 70px;
   }
   
   #circleMiddle {
       position: absolute;
       top: 260px;
       right: 0px;
       background: #e3e9ec;
       border-radius: 50%;
       width: 70px;
       height: 140px;
       border-radius: 70px 0px 0px 70px;
   }
   
   #circleBottom {
       position: absolute;
       top: 415px;
       right: 0px;
       background: #e3e9ec;
       border-radius: 50%;
       width: 70px;
       height: 140px;
       border-radius: 70px 0px 0px 70px;
   } */
   
   .flex-container {
       display: flex;
       align-items: left;
       justify-content: center;
       background-color: pink;
       flex-direction: column;
   }
   
   .flex-container>div {
       background-color: #f1f1f1;
       margin: 0px;
       padding: 0px;
       font-size: 30px;
       justify-content: center;
   }
   
   .cir_1 {
       padding-left: 0%;
       padding-right: 0%;
       margin-left: 0%;
       margin-right: 0%;
   }
   
   .contenedor {
       position: relative;
       display: inline-block;
       text-align: right;
   }
   
   .texto-encima {
       position: absolute;
       top: 10px;
       left: 10px;
   }
   
   .centrado {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
   }
   
   #cercleHaut {
       position: absolute;
       top: 105px;
       right: 0px;
       background: #e3e9ec;
       border-radius: 50%;
       width: 70px;
       height: 140px;
       border-radius: 70px 0px 0px 70px;
       cursor: pointer;
   }
   
   #cercleCentre {
       position: absolute;
       top: 260px;
       right: 0px;
       background: #e3e9ec;
       border-radius: 50%;
       width: 70px;
       height: 140px;
       border-radius: 70px 0px 0px 70px;
       cursor: pointer;
   }
   
   #cercleBas {
       position: absolute;
       top: 415px;
       right: 0px;
       background: #e3e9ec;
       border-radius: 50%;
       width: 70px;
       height: 140px;
       border-radius: 70px 0px 0px 70px;
       cursor: pointer;
   }
   
   .txtArch {
       font-family: DotMatrix;
       right: -350px;
       color: #BD7938;
   }
   
   .txtArch_2 {
       font-family: DotMatrix;
       right: -350px;
       color: #BD7938;
   }
   
   .txtArch_3 {
       font-family: DotMatrix;
       right: -350px;
       color: #BD7938;
   }