@charset "UTF-8";
/* CSS Document */

body{
	background-color: black;
}

.container{
	margin-top: 5%;
}



/*ccindex*/

#cercleHaut{
	position: absolute;
	top:105px;
	right:0px;
	background:#e3e9ec;
  	border-radius:50%;
  	width:70px;
  	height:140px;
  	border-radius: 70px 0px 0px 70px;
	cursor: pointer;
	
}

#cercleCentre{
	position: absolute;
	top:260px;
	right:0px;
	background:#e3e9ec;
  	border-radius:50%;
  	width:70px;
  	height:140px;
  	border-radius: 70px 0px 0px 70px;
	cursor: pointer;
	

}

#cercleBas{
	position: absolute;
	top:415px;
	right:0px;
	background:#e3e9ec;
  	border-radius:50%;
  	width:70px;
  	height:140px;
  	border-radius: 70px 0px 0px 70px;
	cursor: pointer;
	
}


#fond{
	position: relative;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	min-width:1100px;
	min-height: 650px;
	
	width: 100%;
height: 650px;
}
#fond_blanc{
	position: relative;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	min-width:1100px;
	min-height: 650px;
	
	width: 100%;
height: 650px;
}

#zLeft{
	position: absolute;
	left: 0px;
	top: 0px;
	
	
	height: 100%;
	width: 130px;
	
}
#zRight{
	position: absolute;
	left: 130px;
	
	height: 100%;
	width: 970px;
	z-index: 1;
}




/* end ccindex*/




/*fonts*/



@font-face {
	font-family: 'Designio';
	src: url('fonts/DesignioBold.eot');
	src: url('fonts/DesignioBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/DesignioBold.woff') format('woff'),
		url('fonts/DesignioBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('fonts/HelveticaNeueLTStd-BdCn.eot');
	src: url('fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
		url('fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
		url('fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('fonts/Helvetica.eot');
	src: url('fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
		url('fonts/Helvetica.woff') format('woff'),
		url('fonts/Helvetica.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



/*end fonts*/

#zLeft_blanc{
	position: absolute;
	left: 0px;
	top: 0px;
	
	background-color: white;
	height: 100%;
	width: 130px;
	
}

#logo_left{
	position: absolute;
	top:105px;
	left:25px;
	cursor:pointer;

	
}

#btcontact{
	position:absolute;
	top:80px;
	left:23px;
	cursor:pointer;
	font-size:12px;
	color: white;
	z-index: 3;
	/* Rotation du div */
	transform:rotate(-79deg); 
	-ms-transform:rotate(-79deg); /* Internet Explorer */
	-moz-transform:rotate(-79deg); /* Firefox */
	-webkit-transform:rotate(-79deg); /* Safari et Chrome */ 
	-o-transform:rotate(-79deg); /* Opera */
}

#btAgenceMortagne{
	position:absolute;
	top:55px;
	left:24px;
	cursor:pointer;
	font-size:12px;
	color: white;
	z-index: 3;
	/* Rotation du div */
	transform:rotate(-79deg); 
	-ms-transform:rotate(-79deg); /* Internet Explorer */
	-moz-transform:rotate(-79deg); /* Firefox */
	-webkit-transform:rotate(-79deg); /* Safari et Chrome */ 
	-o-transform:rotate(-79deg); /* Opera */
}

#btAgenceArgentan{
	position:absolute;
	top:57px;
	left:46px;
	cursor:pointer;
	font-size:12px;
	color: white;
	z-index: 3;
	/* Rotation du div */
	transform:rotate(-79deg); 
	-ms-transform:rotate(-79deg); /* Internet Explorer */
	-moz-transform:rotate(-79deg); /* Firefox */
	-webkit-transform:rotate(-79deg); /* Safari et Chrome */ 
	-o-transform:rotate(-79deg); /* Opera */
}

#zCenter{
	position: absolute;
	top: 0px;
	left: 130px;
	height: 100%;
	width: 100px;
	z-index: 2;
	cursor: default;}

#triangle{
	border-color: #000000 transparent transparent #000000;
    border-style: solid;
    border-width: 0px 120px 650px;
    cursor: default;
    height: 0;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    width: 0;
	
}

#traitVertGris{
	position:absolute;
	Top:0px;
	left: 530px;
	height: 100%;
	width: 15px;
	background-color: #e3e8ec;
	z-index: 0;
	cursor: default;
		
}

#traitNoirBas{
	position: absolute;
	top:560px;
	left:0px;
	height:2px;
	width: 920px;
	background-color: black;
	cursor: default;
}

#traitGrisBas{
	position: absolute;
	top:560px;
	left:-20px;
	height:2px;
	width: 940px;
	background-color: #e3e8ec;
	z-index: 1;
	cursor: default;
}

#traitGrisBasGauche{
	position: absolute;
	top:560px;
	left:0px;
	height:2px;
	width:25px;
	background-color: #e3e8ec;
	cursor: default;

}



#texte_p_a{

	height:560px;
	width:510px;
	text-align: justify;
	font-family: Helvetica;
	font-size: 13px;
	cursor: default;

	

}


#titre_texte_p_a{
	position: absolute;
	top: 50px;
	width: 510px;
	color: #adbcc4;
	font-size: 25px;
	font-family: Helvetica Neue LT Std;
	cursor: default;
	
	
}

#corps_texte_p_a{
	position: relative;
	top:125px;
	width: 510px;
	cursor: default;
	
}



#btArchitecture{
	position: absolute;
	top: 170px;
	right:10px;
	cursor: pointer;
	
}

#btamenagements{
	position:absolute;
	top:325px;
	right:10px;
	cursor: pointer;
}

#btarchitriad{
	position: absolute;
	top:480px;
	right: 10px;
	cursor: pointer;
}

#AT{
	position: absolute;
	top:133px;
	left:52px;
	z-index: 0;
	cursor: default;
		
}
#renseignement{
	position: relative;
	top:7px;
	cursor: default;
}

#boxTextePresArchi{
	position: relative;
	left:10px;
	width: 510px;
	height:560px;
	cursor: default;
}

.left{
width: 120px;
  height: 650px;
 
  -webkit-shape-outside: polygon(0 0, 0 100%, 100% 0);
  shape-outside: polygon(0 0, 0 100%, 100% 0%);
  float: left;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0%);
	clip-path: polygon(0 0, 0 100%, 100% 0%);
}


#texte_bas{
	position: absolute;
	top:590px;
	left:-37px;
	height: 90px;
	width:970px;
	
	z-index: 2;
	cursor: default;
}

#imBasArchitriad{
	position: absolute;
	top:0px;
	left:0px;
}

#imBasCabinetArchitecte{
	position: absolute;
	top:0px;
	left: 250px;
}

#imBasArgentan{
	position: absolute;
	top: 0px;
	left:510px;
}

#imBasMortagne{
	position: absolute;
	top:0px;
	left:720px;
}



/* habitacion*/

@charset "UTF-8";
/* CSS Document */

#cercleHaut{
	position: absolute;
	top:105px;
	right:0px;
	background:#ffffff;
  	border-radius:50%;
  	width:70px;
  	height:140px;
  	border-radius: 70px 0px 0px 70px;
	
}

#cercleCentre{
	position: absolute;
	top:260px;
	right:0px;
	background:#51646e;
  	border-radius:50%;
  	width:70px;
  	height:140px;
  	border-radius: 70px 0px 0px 70px;
	

}

#cercleBas{
	position: absolute;
	top:415px;
	right:0px;
	background:#51646e;
  	border-radius:50%;
  	width:70px;
  	height:140px;
  	border-radius: 70px 0px 0px 70px;
	
}

#fond{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-width:1100px;
	min-height: 650px;
	
	width: 100%;
height: 650px;
}

#zLeft{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 130px;
	
}
#zRight{
	position: absolute;
	top:0px;
	left: 130px;
	height: 100%;
	width: 970px;
	z-index: 1;
}

#cercleContact{
	position: absolute;
	top:105px;
	left:39px;
	width: 15px;
    height: 15px;
    border-radius: 20px;
    background: white;
}

#cercleMortagne{
	position: absolute;
	top:105px;
	left:60px;
	width: 15px;
    height: 15px;
    border-radius: 20px;
    background: white;
}

#cercleArgentan{
	position: absolute;
	top:105px;
	left:81px;
	width: 15px;
    height: 15px;
    border-radius: 20px;
    background: white;
}

#traitVertGrisFonce{
	position:absolute;
	Top:0px;
	left: 530px;
	height: 100%;
	width: 15px;
	background-color: #51646e;
	z-index: 0
		
}

#logoLeftCarre{
	position: absolute;
	top:520px;
	
	left:27px;
	cursor: pointer;
	
}
#titreHabitation{
	position: relative;
	top:0px;
	width: 510px;
	color : #e05015;
	left:10px;

}

#titreHabitationGris{
	position: relative;
	top:0px;
	width: 510px;
	color : #868789;
	left:10px;
	cursor: pointer;

}

#titreEtablissements{
	position: relative;
	width: 510px;
	color : #868789;
	left:10px;
	cursor: pointer;

}

#titreIndustries{
	position: relative;
	width: 510px;
	color : #868789;
left:10px;
cursor: pointer;}

#titrePatrimoine{
	position: relative;
	width: 510px;
	color : #868789;
		left:10px;
	cursor: pointer;
}

#titreDivers{
	position: relative;
	width: 510px;
	color : #868789;
	left:10px;
	cursor:pointer;
}

#listeDroite{
	position:absolute;
	left:555px;
	top:80px;
	width:175px;
	height:450px;
color:white;
	font-size:0.9em;
	overflow: hidden;
	overflow-y: scroll;

}

a{
	text-decoration: none;
	color:#b1b2b4;
	font-size:0.9em;
}


/* end habitacion*/